[Desktop Entry]
Name=AdaptaBreath
X-KDE-PluginInfo-Name=AdaptaBreath
X-KDE-PluginInfo-Author=cscs
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL v3
