[SddmGreeterTheme]
Name=AdaptaBreath
Description=AdaptaBreath Theme
Description[ast]=Tema AdaptaBreath
Description[bs]=AdaptaBreath Tema
Description[ca]=Tema AdaptaBreath
Description[ca@valencia]=Tema AdaptaBreath
Description[cs]=Motiv AdaptaBreath
Description[da]=AdaptaBreath-temaet
Description[de]=AdaptaBreath-Design
Description[el]=Θέμα AdaptaBreath
Description[en_GB]=AdaptaBreath Theme
Description[es]=Tema AdaptaBreath
Description[et]=AdaptaBreath teema
Description[fi]=AdaptaBreath-teema
Description[fr]=Thème AdaptaBreath
Description[gl]=Tema AdaptaBreath
Description[he]=ערכת הנושא AdaptaBreath
Description[hu]=AdaptaBreath téma
Description[id]=Tema AdaptaBreath
Description[is]=AdaptaBreath þema
Description[it]=Tema AdaptaBreath
Description[ja]=AdaptaBreath テーマ
Description[ko]=AdaptaBreath 테마
Description[lt]=AdaptaBreath apipavidalinimas
Description[nb]=AdaptaBreath-tema
Description[nds]=AdaptaBreath-Muster
Description[nl]=Thema AdaptaBreath
Description[nn]=AdaptaBreath-tema
Description[pl]=Wystrój AdaptaBreath
Description[pt]=Tema AdaptaBreath
Description[pt_BR]=Tema AdaptaBreath
Description[ru]=Тема «AdaptaBreath»
Description[sr@latin]=Tema AdaptaBreath
Description[sv]=AdaptaBreath-tema
Description[tr]=AdaptaBreath Teması
Description[uk]=Тема «AdaptaBreath»
Author=cscs ##forked from David Edmundson, David Linares, Ramon Buldó
Copyright=(c) 2014, David Edmundson, David Linares (Mcder3), Ramon Buldó
License=CC-BY-SA
Type=sddm-theme
Version=0.2.0
Website=https://github.com/manjaro/artwork-breath
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=mcder3@gmail.com
Theme-Id=adaptabreath
Theme-API=2.0
