[Desktop Entry]
Comment=A light and grey adapta theme for Manjaro
Name=AdaptaBreathLuna
X-KDE-PluginInfo-Author=cscs
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=cscs@disroot.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=org.kde.adaptabreathluna.desktop
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://gitlab.com/cscs/adaptabreath-kde
X-KDE-ServiceTypes=Plasma/LookAndFeel
